.row {
    display: flex;
}

.row.gap-8 {
    gap: 3.75rem;
}

.col.col-2.w-60 {
    max-width: 55%;
}

.col.col-2.wd-45 {
    max-width: 45%;
}

.sticky-paper {
    background-color: #fff;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 0 1rem 1rem;
    display: flex;
}

.sticky-paper-img {
    width: 12.5em;
    height: 12.5em;
    margin-left: auto;
}

.sticky-paper-text {
    color: #000;
    text-transform: uppercase;
}