.client-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted-text {
    text-align: center;
    margin-bottom: -0.15em;
    font-size: 15.5em;
    line-height: 78%;
    position: absolute;
}