.button-cta {
    border-radius: 0.5rem;
    letter-spacing: 1px;
    align-items: center;
    padding: .8rem 2rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    overflow: hidden;
    border: none;
    color: #000;
}